*{
    font-family: 'League Spartan', sans-serif;
    color: #fff;
}

body{
    margin: 0;
    background-color: hsl(222, 26%, 31%);
}

/* Contenedor principal */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

/* Parte superior de la calculadora */
.sup{
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 60px 150px;
    background-color: hsl(222, 26%, 31%);
} 

/* Parte inferior de la calculadora */
.inf{
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(5, 80px);
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    padding: 10px;
}


@media (min-width: 400px) {
    /* Parte superior de la calculadora */
    .sup{
        grid-template-columns: 630px;
        grid-template-rows: 60px 150px;
    } 

    /* Parte inferior de la calculadora */
    .inf{
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(5, 90px);
        background-color: hsl(223, 31%, 20%);
        border-radius: 10px;
        padding: 15px;
    }
}

.display{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: hsl(224, 36%, 15%);
    text-align: right;
    justify-content: space-between;
    border-radius: 10px;
    word-break: break-all;
}

.theme{
    grid-column: 1/-1;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/* Selector de tema */

.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: hsl(223, 31%, 20%);
    border-radius: 12px;
}

.custom-radio-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-radio-button input {
    display: none;
}

.custom-radio-button .checkmark {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-radio-button input:checked + .checkmark {
    opacity: 1;
    display: inline-block;
}

.label-numbers{
    position: relative;
    bottom: 22px;
    left: 114px;
}

.label-numbers label{
    margin: 4px;
    font-size: 1.1em;
}

@media (min-width: 400px) {
    .label-numbers{
        left: 119px;
    }
    
    .label-numbers label{
        font-size: 1.5em;
    }
}

button{
    cursor: pointer;
    margin: 8px;
    padding: 0;
    font-size: 2em;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color:  hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    box-shadow: 0px 4px 0px 0px  hsl(28, 16%, 65%);
}

@media (min-width: 400px) {
    button{
        margin: 10px;
    }
}

button:active{
    background-color: hsl(222, 26%, 31%);
    box-shadow: 0px 4px 0px 0px  hsl(222, 26%, 31%);
    color: rgb(255, 255, 255);
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

@media (min-width: 400px) {
    .current-value{
        font-size: 2.7em;
    }
    
    #previous-value{
        font-size: 3em;
    }
}

.current-value{
    font-size: 2.3em;
}

#previous-value{
    font-size: 2.5em;
}

.color-red{
    color: rgb(255, 255, 255);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 4px 0px 0px  hsl(6, 48%, 36%);
}

.color-blue{
    color: rgb(255, 255, 255);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 4px 0px 0px  hsl(224, 28%, 35%);
}

.text-small{
    font-size: 1.4em;
}
