
*{
    color: hsl(0, 0%, 100%);
}

body, .upper-section{
    background-color: hsl(222, 26%, 31%);
}

.lower-section{
    background-color: hsl(223, 31%, 20%);
}

.theme-toggle {
    background-color: hsl(223, 31%, 20%);
}

.custom-radio-button .checkmark {
    background-color: hsl(6, 63%, 50%);
}

.display{
    background-color: hsl(224, 36%, 15%);
}

button{
    background-color:  hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    box-shadow: 0px 4px 0px 0px  hsl(28, 16%, 65%);
}

button:active{
    background-color: hsl(222, 26%, 31%);
    box-shadow: 0px 4px 0px 0px  hsl(222, 26%, 31%);
    color: rgb(255, 255, 255);
}

.color-equal{
    color: hsl(0, 0%, 100%);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 4px 0px 0px  hsl(6, 70%, 34%);
}

.color-reset{
    color: hsl(0, 0%, 100%);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 4px 0px 0px  hsl(224, 28%, 35%);
}